@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgb(130,106,251);
}

.wrapper {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.wrapper h2 {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.wrapper p {
    font-size: 0.8rem;
    text-align: center;
}

.wrapper form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.form .gender-box {
    width: 100%;
    margin-top: 20px;
}

.form .language-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

label {
    display: inline-block;
    width: 150px;
}

.select-box {
    margin-top: 15px;
}

